div(ng-controller='AdminIndexController as ctrl' ng-init='ctrl.init()')
    div
        div.row
            div.col-xs-12.col-sm-6
                div.panel-header-title #{__('admin_dashboard')}


    div.panel.panel-default.main-panel
        div.panel-body
