div.admin-product-list(ng-controller='AdminProductListController as ctrl' ng-init='ctrl.init()')
    div
        div.row
            div.col-xs-12.col-sm-6
                div.panel-header-title #{__('product_list')}

    div.panel.panel-default.main-panel
        div.panel-body
            div.text-center(ng-show='ctrl.initializing')
                i.fas.fa-spinner.fa-spin
            div(ng-hide='ctrl.initializing')
                label #{__('search_product')}
                div.panel.panel-default
                    div.panel-body
                        product-search(global='global' on-product-selected='ctrl.showProductDetails(selectedProduct)')
