div(ng-controller='AdminProductAddController as ctrl' ng-init='ctrl.init()')
    div
        div.row
            div.col-xs-12.col-sm-6
                div.panel-header-title #{__('add_new_product')}
            //div.col-xs-12.col-sm-6
                div.text-right
                    button.action.btn.btn-primary.margin-bottom-15px(ng-click='ctrl.addCustomer()')
                        span
                            i.fa.fa-plus
                            span &nbsp;
                        span #{__('add_customer')}

    div.panel.panel-default
        div.panel-body
