doctype html
html(ng-app='app')
    head
        title #{__('bthg_manage')}
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

        // STYLES
        link(rel="stylesheet", href="/lib/angular-xeditable-0.8.0/css/xeditable.min.css")
        link(rel="stylesheet", href="/lib/bootstrap-select/bootstrap-select.min.css")
        link(rel="stylesheet", href="/lib/bootstrap-toggle/bootstrap-toggle.min.css")
        link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap-theme.min.css")
        link(rel="stylesheet", href="/lib/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/lib/date-range-picker/daterangepicker.min.css")
        link(rel="stylesheet", href="/lib/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="/lib/font-awesome/css/mixins.css")
        link(rel="stylesheet", href="/lib/font-awesome/css/variables.css")
        link(rel="stylesheet", href="/lib/select2/select2.min.css")
        link(rel="stylesheet", href="/styles/importer.css")
        // STYLES END

        // SCRIPTS
        script(src="/js/dependencies/sails.io.js")
        script(src="/lib/jquery/jquery.min.js")
        script(src="/lib/angular/angular.min.js")
        script(src="/lib/momentjs/moment.min.js")
        script(src="/lib/momentjs/moment-timezone-with-data-2012-2022.js")
        script(src="/lib/momentjs/moment-timezone-with-data.js")
        script(src="/lib/momentjs/moment-timezone.js")
        script(src="/lib/accounting/accounting.min.js")
        script(src="/lib/angular-xeditable-0.8.0/js/xeditable.min.js")
        script(src="/lib/angular/angular-animate.min.js")
        script(src="/lib/angular/angular-route.min.js")
        script(src="/lib/angular/angular-sanitize.min.js")
        script(src="/lib/angular/ng-file-upload-shim.min.js")
        script(src="/lib/angular/ng-file-upload.min.js")
        script(src="/lib/angular/ngStorage.min.js")
        script(src="/lib/bignumber/bignumber.min.js")
        script(src="/lib/bootstrap-select/bootstrap-select.min.js")
        script(src="/lib/bootstrap-toggle/bootstrap-toggle.min.js")
        script(src="/lib/bootstrap/js/bootstrap.min.js")
        script(src="/lib/cleave/cleave-angular.min.js")
        script(src="/lib/date-range-picker/jquery.daterangepicker.min.js")
        script(src="/lib/filesaver/FileSaver.min.js")
        script(src="/lib/jscookie/js.cookie.js")
        script(src="/lib/pdfmake/pdfmake.min.js")
        script(src="/lib/pdfmake/vfs_fonts.js")
        script(src="/lib/select2/select2.min.js")
        script(src="/lib/ui-bootstrap/ui-bootstrap.min.js")
        script(src="/controllers/app.js")
        script(src="/controllers/admin/customer.js")
        script(src="/controllers/admin/index.js")
        script(src="/controllers/admin/outorder/list.js")
        script(src="/controllers/admin/outorder/new.js")
        script(src="/controllers/admin/product/brand.js")
        script(src="/controllers/admin/product/category.js")
        script(src="/controllers/admin/product/list.js")
        script(src="/controllers/admin/product/new.js")
        script(src="/controllers/admin/supplier.js")
        script(src="/controllers/dialogs/admin-customer-add.js")
        script(src="/controllers/dialogs/admin-supplier-add.js")
        script(src="/controllers/dialogs/change-value-dialog.js")
        script(src="/controllers/dialogs/confirm-order.js")
        script(src="/controllers/dialogs/login.js")
        script(src="/controllers/dialogs/product-details-dialog.js")
        script(src="/controllers/dialogs/view-photo.js")
        script(src="/controllers/partials/branch-selector.js")
        script(src="/controllers/partials/brand-selector.js")
        script(src="/controllers/partials/customer-contact-selector.js")
        script(src="/controllers/partials/customer-selector.js")
        script(src="/controllers/partials/date-range-picker.js")
        script(src="/controllers/partials/group-selector.js")
        script(src="/controllers/partials/multi-branches-selector.js")
        script(src="/controllers/partials/multi-suppliers-selector.js")
        script(src="/controllers/partials/navbar.js")
        script(src="/controllers/partials/order-status-selector.js")
        script(src="/controllers/partials/product-details.js")
        script(src="/controllers/partials/product-search.js")
        script(src="/controllers/partials/quotation-details.js")
        script(src="/controllers/partials/supplier-selector.js")
        script(src="/controllers/partials/type-selector.js")
        // SCRIPTS END

    body
        div.container(ng-controller='GlobalController' ng-init='init({' +
            'errors : {' +
                '"-1" : "' + __('NETWORK_ERROR')+ '",' +
                '"0" : "' + __('SUCCESS')+ '",' +
                '"1" : "' + __('SYSTEM_ERROR')+ '",' +
                '"2" : "' + __('INPUT_ERROR')+ '",' +
                '"3" : "' + __('MALFORMED_REQUEST_ERROR')+ '",' +
                '"4" : "' + __('NOT_FOUND_ERROR')+ '",' +
                '"5" : "' + __('TOKEN_GENERATING_ERROR')+ '",' +
                '"6" : "' + __('WRONG_PASSWORD_ERROR')+ '",' +
                '"7" : "' + __('NOT_SUPER_ADMIN_ERROR')+ '",' +
                '"8" : "' + __('NOT_AUTHENTICATED_ERROR')+ '",' +
                '"9" : "' + __('DUPLICATED_ERROR')+ '",' +
                '"10" : "' + __('RESOURCE_DIRTY_ERROR')+ '",' +
                '"11" : "' + __('TOKEN_INVALID_ERROR')+ '",' +
            '}' +
        '})')
            include ./partials/navbar
            div(ng-view='')

            //- include all types of dialog here
            include ./dialogs/product-details-dialog
            include ./dialogs/admin-supplier-add
            include ./dialogs/admin-customer-add
            include ./dialogs/product-details-dialog
            include ./dialogs/login
            include ./dialogs/change-value-dialog
            include ./dialogs/view-photo

