div.partials_customer-contact-search(ng-controller='CustomerContactSearchPartialController' ng-init='init()')
    label #{__('search_customer_contact')}
    select#partials_customer-contact-search_select-contact.form-control(ng-disabled='!selectedCustomerID')
